header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: chartreuse;
    padding: 10px;
}

img {
    display: flex;
    align-self: left;
    height: 70px;
    width: 4%;
    border-radius: 100px;
    border: 2px solid black;
    margin-left: 3px;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;


    button {
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        box-shadow: 10px 5px 3px;
    }

    button:hover {
        color: white;
        background-color: rgb(255, 106, 0);
        box-shadow: 7px 3px 3px orange;
        border: none;
        cursor: pointer;
    }
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section {
    display: flex;
    flex-direction: row;
}

#footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 50px;
}

a {
    text-decoration: none;
    color: white;
}