<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div id="section">
            <img src="./images/terraform-cert.png" alt="Terraform certification">
            <p>I have a certificate in Terraform which was earned in October 2023 and expires in October 2025. I
                earned this certification on my 3rd try after studying very diligently for it and I am very proud
                that I was able to achieve it.</p>
        </div>
    </main>
</body>

</html>